@model ProjetNathanaelOscar.Models.Vetement

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vetement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VetementId" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
                <label asp-for="DateObtention" class="control-label"></label>
                <input asp-for="DateObtention" class="form-control" />
                <span asp-validation-for="DateObtention" class="text-danger"></span>
                <label asp-for="Cote" class="control-label"></label>
                <input asp-for="Cote" class="form-control" />
                <span asp-validation-for="Cote" class="text-danger"></span>
                <label asp-for="TypeVetement" class="control-label"></label>
                <select asp-for="TypeVetement" class="form-control"> 
                    <option value="Haut">Haut</option> 
                    <option value="Bas">Bas</option> 
                    <option value="Combinaison">Combinaison</option> 
                    <option value="Chaussure">Chaussure</option> 
                </select>
                <span asp-validation-for="TypeVetement" class="text-danger"></span>
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
